# Compiled class files
*.class

# Log files
log/
*.log

# Maven build directories
target/

# IntelliJ IDEA project files
.idea/

# Eclipse project files
.classpath
.project
.settings/

# Gradle build directories
build/

# Spring Boot log files
logs/

# Package files
*.jar
*.war
*.ear

# Other miscellaneous files
*.swp
*.DS_Store
